<section class="footer">
    <div class="copyright">
        All content copyright <a href="{{@blog.url}}">{{@blog.title}}</a> © 2014 • All rights reserved.
        <br>
        Proudly published with <a href="http://ghost.org">Ghost</a>. Theme crafted by <a href="http://infinitum.me/">Infinitum Themes</a>.
    </div>
    <div class="rss">
        <div class="rss-line"></div>
        <div class="rss-icon">
            <div class="rss-icon-inner">
                <a class="icon" href="{{@blog.url}}/rss" target="_blank">
                    <i class="fa fa-rss fa-lg"></i>
                </a>
            </div>
        </div>
    </div>
</section>