<section class="static-pages">
	<a href="{{@blog.url}}">Gallery</a>
	<span class="separator">/</span>
	<a href="{{@blog.url}}/about/">About</a>
	<span class="separator">/</span>
	<a href="{{@blog.url}}/contacts/">Contacts</a>
</section>