@media screen and (max-width: 960px) {
    .header {
        position: relative;
        padding: 20px 0 25px 0;
        width: 100%;
        height: initial;
        border-bottom: 1px solid #ccc;
        text-align: center;
        line-height: initial;
    }

    .header H1, .header H2, .header .social-links, .header .static-pages {
        display: block;
        float: none;
        margin: 0;
        padding: 10px 0;
    }

    .photos {
        margin-top: 0;
    }

    .photo-thumbnail {
        display: block;
        float: none;
        margin: 10px;
        max-width: 960px;
        width: initial;
        height: 300px;
        border-radius: 3px;
        text-align: center;
    }

    .photo-thumbnail-overlay {
        display: inline-block;
        max-width: 100%;
        background: none;
        -webkit-box-shadow: none;
        box-shadow: none;
    }

    .photo-thumbnail-overlay-inner {
        position: relative;
        display: inline-block;
        border: none;
    }

    .photo-thumbnail-overlay-caption {
        display: none;
    }

    .photo-full {
        max-width: 92%;
    }

    .photo-full-info-inner {
        width: 92%;
    }

    .social-links .icon {
        font-size: 20px;
    }
    
    .pagination {
        margin: 15px 0 20px 0;
    }

    .pagination .older-posts {
        margin-right: 10px;
    }

    .pagination .newer-posts {
        margin-left: 10px;
    }
}
