@import "foundation/colours";

html, body {
  height: 100%;
}

.top-bar .name h1 a {
  padding-left: .9375rem;
}

.top-bar-section ul {
  background-color: $salmon;
}

.top-bar-section li:not(.has-form) a:not(.button) {
  padding: 0;
  line-height: 1em;
  margin-top: 30px;
}

.top-bar-section ul li {
  background-color: $salmon;
  padding-bottom: 5px;
  margin-left: 30px;
}

.top-bar-section ul li:nth-of-type(1) {
width: 45px;
}

.top-bar-section ul li:nth-of-type(2) {
width: 63px;
}


.top-bar-section ul li>a {
  display: inline-block;
  text-decoration: none;
  border-bottom: 2px solid;
  margin-right: 10px;
  padding-bottom: 8px;
  width: 0px;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
  padding: 0;
}

.top-bar-section ul li>a:hover {
  display: inline-block;
  text-decoration: none;
  margin-right: 10px;
  width: 100%;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

.graphic-designer {
  display: block;
  line-height: 1em;
  position: relative;
  top: -25px;
}

.welcome {
  height: 80%;
  background-color: $salmon;
}

.welcome h1, .welcome h2 {
  color: #fff;

  -moz-animation-name: dropHeader;
  -moz-animation-iteration-count: once;
  -moz-animation-timing-function: ease-out;
  -moz-animation-duration: 1.3s;

  -webkit-animation-name: dropHeader;
  -webkit-animation-iteration-count: once;
  -webkit-animation-timing-function: ease-out;
  -webkit-animation-duration: 1.3s;
}

.welcome h2 {
  padding-bottom: 50px;
  border-bottom: 1px solid $white;
}

.welcome h3 {
  color: $white;
}

section.example {
  min-height: 100%;
  padding-top: 100px;
}

.vertical-center {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.vertical-bottom {
  position: absolute;
  bottom: 76px;
  left:48%;
}

.pad-top {
  padding-top: 100px;
}

-moz-keyframes dropHeader {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 100%;
    }
}
@-webkit-keyframes dropHeader {
    0% {
        opacity: 0;
        -webkit-transform: translateY(-30px);
    }
    100% {
        opacity: 100%;
        -webkit-transform: translateY(0);
    }
}