@import "foundation/colours";

html, body {
  height: 100%;
}

.top-bar .name h1 a {
  padding-left: .9375rem;
}

.top-bar-section ul {
  background-color: $salmon;
}

.name img {
  padding-top: 10px;
  padding-left: .9375rem;
}

.welcome {
  background-color: $salmon;
  color: #fff;
  padding: 5em 0;
}

.welcome h1, .welcome h2 {
  color: #fff;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);

  -moz-animation-name: dropHeader;
  -moz-animation-iteration-count: once;
  -moz-animation-timing-function: ease-out;
  -moz-animation-duration: 1.3s;

  -webkit-animation-name: dropHeader;
  -webkit-animation-iteration-count: once;
  -webkit-animation-timing-function: ease-out;
  -webkit-animation-duration: 1.3s;
}

.welcome h2 {
  padding-bottom: 1em;
  border-bottom: 1px solid $white;
}

.welcome h3 {
  color: $white;
}

section.example {
  min-height: 100%;
  padding: 5em 0;
}

section.cream {
  background-color: $white;
}

section.page {
  margin-top: 1em;
  padding: 5em 0;
  min-height: 100%;
  background-color: #fff;
}

.example img {
  padding-top: 1em;
}

.pad-top {
  padding-top: 100px;
}

footer {
  color: rgba(255, 255, 255, 0.5);
  padding: 1em 0;
}

-moz-keyframes dropHeader {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 100%;
    }
}
@-webkit-keyframes dropHeader {
    0% {
        opacity: 0;
        -webkit-transform: translateY(-30px);
    }
    100% {
        opacity: 100%;
        -webkit-transform: translateY(0);
    }
}