<footer>
  <div class="row">
  <div class="large-4 columns">
    Salmon design &copy; 2014
  </div>
  <div class="large-4 columns">
    rachel@salmondesign.co
  </div>
  <div class="large-4 columns">
    Coded by @davidblurton
  </div>
</div>
</footer>
