<section class="example" id="first-example">
  <div class="row">
    <div class="large-8 columns">
      <h1>Pantone poster</h1>
      <p>Here is a description of all the work I did on it. It turned out really well.</p>
      <a href="work">Find out more...</a>
    </div>
  </div>

  <div class="row">
    <div class="large-4 columns">
      <img src="assets/images/Marilyn_Monroe_Postcard_FRONT.png" />
    </div>
    <div class="large-4 columns">
      <img src="assets/images/Marilyn_Monroe_Postcard_BACK.png" />
    </div>
    <div class="large-4 columns"></div>
  </div>
</section>