{% block content %}
<section class="welcome">
  <div class="row pad-top">
    <div class="large-8 columns">
      <h2>What's on your mind?</h2>
      <p>How can I help you? Let me know about your project and let's get started.</p>
      <h3>rachel@salmondesign.co</h3>
    </div>
  </div>
</section>
{% endblock %}