{% block content %}
    <div class="row">
      <div class="large-7 large-offset-5 columns">
        <h1 class="text-white">
          <strong>I'm Rachel Salmon.</strong><br/> Around these pages you’ll find a selection of my latest work. Make yourself at home.
          <br/>Why not get in touch? Let’s work together to create something beautiful.
        </h1>
        <hr />
      </div>
    </div>
  </div>
{% endblock %}