{% block content %}
  <section class="welcome">
    <div class="row vertical-center">
      <div class="large-8 columns">
        <h1 class="text-white">
          <strong>I'm Rachel Salmon.</strong>
        </h1>
        <h2 class="text-white">Let’s work together to create something beautiful.</h2>
      </div>
    </div>

    <div class="text-center vertical-bottom">
      <a href="#first-example" onclick="$('html, body').animate({scrollTop: $('#first-example').offset().top + 1}, 600 );">
        <img src="assets/images/chevron.down.svg" />
      </a>
    </div>
  </section>

  <section class="example" id="first-example">
    <h1>Here is an example project</h1>
    <p>Here is a description of all the work I did on it. It turned out really well.</p>
  </section>
{% endblock %}