{% block content %}
  <section class="welcome">
    <div class="row vertical-center">
      <div class="large-8 columns">
        <h1>
          <strong>I'm Rachel Salmon.</strong>
        </h1>
        <h2>Let’s work together to create something beautiful.</h2>
        <h3>Say hello: rachel@salmondesign.co</h3>
      </div>
    </div>

    <div class="text-center vertical-bottom">
      <a href="#first-example" onclick="$('html, body').animate({scrollTop: $('#first-example').offset().top + 1}, 600 );">
        <img src="assets/images/chevron.down.svg" />
      </a>
    </div>
  </section>

  {% include "/marilyn" %}
{% endblock %}