{% block content %}

  <ul class="large-block-grid-4 medium-block-grid-3 small-block-grid-1 pad-top">
    <li><a href="path/to/your/img"><img src="//placehold.it/350x200"></a></li>
    <li><a href="path/to/your/img"><img src="//placehold.it/350x200"></a></li>
    <li><a href="path/to/your/img"><img src="//placehold.it/350x200"></a></li>
    <li><a href="path/to/your/img"><img src="//placehold.it/350x200"></a></li>
    <li><a href="path/to/your/img"><img src="//placehold.it/350x200"></a></li>
    <li><a href="path/to/your/img"><img src="//placehold.it/350x200"></a></li>
    <li><a href="path/to/your/img"><img src="//placehold.it/350x200"></a></li>
    <li><a href="path/to/your/img"><img src="//placehold.it/350x200"></a></li>
    <li><a href="path/to/your/img"><img src="//placehold.it/350x200"></a></li>
  </ul>

{% endblock %}