{% block content %}

<div class="row">
  <section class="page">
    <div class="row">
      <div class="large-10 large-offset-1 columns">
        <h2>Example of work 1</h2>
        <p>Using positive numbers as the first two values ends up with placing the shadow to the right of the text horizontally (first value) and placing the shadow below the text vertically (second value).</p>

<p>The third value, the blur radius, is an optional value which can be specified but don’t have to. It’s the amount of pixels the text is stretched which causes a blur effect. If you don’t use the third value it is treated as if you specified a blur radius of zero.</p>
      </div>
    </div>
  </section>
</div>

{% endblock %}